html {
	height: 100%;
	max-height: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
} 
body {
	padding: 0px;
	margin: 0px;
	background: #F2F2F2;
	border: 0px; /* hide overflow:hidden from IE5/Mac */
	overflow-y: scroll;
	overflow-x: hidden;
}
.pad1 {
	display: block;
	width: 105px;
	height: 39px;
	float: left;
}

.pad-header {
	display: block;
	height: 55px;
	z-index:0;
}

.pad-footer {
	display: block;
	height: 10px;
	z-index:0;
}
#head {
	position: fixed;
	top: 0px;
	display: block;
	width: 100%;
	height: 40px;
	font-size: 14px;
	z-index: 999;
	text-align: center;
}


.ui-widget, .ui-widget .ui-widget { 
	font-size: 11px !important;
	margin: 2px !important;
} 

#foot {
	position: fixed;
	padding: 3px 10px 0px 0px;
	bottom: 0px;
	right: 5px;
	display: block;
	width: 100%;
	height: 20px;
	text-align: right;
	z-index: 999;
}
/*menu lateral esquerdo*/
.conteiner-lateral-esquerda {
	position: fixed;
	margin: 0px 0px 40px 0px;
	padding: 0px;
	top: 70px;
	left: 0px;
	list-style: none;
	z-index: 9999;
}
.conteiner-lateral-esquerda li span {
	display: block;
	margin-left: -2px;
	width: 115px;
	background-color: #C4C4C4;
	border: 1px solid #d6d6d6;
}
.conteiner-lateral-esquerda li span a{
	text-decoration:none;
}

/*menu interno*/
.inside-box:hover{
	background: #F8F8F8;
}
.inside-box {
	background: #F1F1F1;
	padding: 2px 2px 2px 2px;
	display: block;
	height: 55px; 
	text-align: center; 
	cursor: pointer; 
	color: #4d7980;
	font-size:12px;
}
.box {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	background: white;
	padding: 3px 3px 3px 3px;
	border-radius: 5px;
	border-color: #e5e5e5 #dbdbdb #d2d2d2;
	border: 1px solid;
	border-color: #e5e5e5 #dbdbdb #d2d2d2;
	width: 80px;
	margin: 3px 3px 3px 21px;
}
.conteudo-principal {
	border: 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.1) 0 2px 3px;
	-moz-box-shadow: rgba(0,0,0,0.1) 0 2px 3px;
	box-shadow: rgba(0,0,0,0.1) 0 2px 3px;
	background: #FFFFFF !important;
	border-radius: 5px;
	border-color: #e5e5e5 #dbdbdb #d2d2d2;
	border-color: #e5e5e5 #dbdbdb #d2d2d2;
	margin-bottom: 15px;
}
.titulo_pagina {
	padding: 8px;
	margin-bottom: 8px;
	height: 40px;
}
.ui-widget-overlay {
    filter:alpha(opacity=80) !important;  /* works in IE 7 */
    opacity: 0.8 !important;  /* works in Firefox */
}
