.cssmenu ul {
	margin: 0;
	padding: 4px 2px 0px 2px;
	font-size:12px;
}
.cssmenu li {
	margin: 0px;
	padding: 0px 5px 6px;
	float: right;
	position: relative;
	list-style: none;
}

.cssmenu ul ul li {
	float: none;
	padding: 3px;
}

.cssmenu a {
	font-weight: bold;
	color: #4d7980;
	text-decoration: none;
	display: block;
	padding: 5px 10px;
	margin: 0;
}

.cssmenu ul li ul li:hover {
	background: #FCFCFC;
}

.cssmenu li:hover>ul {
	display: block;
}

.cssmenu ul ul {
	display: none;
	margin: 0;
	padding: 0;
	text-align:left;
	min-width:140px;
	width: auto;
	white-space:nowrap;
	position: absolute;
	top: 32px;
	background: #FFFFFF;
	border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-o-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 2px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 2px;
	border-bottom: solid 1px #DFDFDF;
	border-left: solid 1px #DFDFDF;
	border-right: solid 1px #DFDFDF;
}

.tem_submenu{
	background-image:url(../img/icones/arrow_mini_down.png);
	background-repeat:no-repeat;
	background-position:right center;
}